.divContentWrapper{
    min-height: calc(100vh - 64px);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
}

.dropdownLocale{
    margin-left: auto;
    width: 30px;
    cursor: pointer;
}